.design-container{
    background: repeating-linear-gradient(#74ABDD, #74ABDD 49.9%, #498DCB 50.1%, #498DCB 100%);
}
.login-container{
    margin-top: 200px;
    border-radius: 10px;
    background-color: slateblue;
}
